In [1]:
# 031 문자열 합치기

a = '3'
b = '4'
print(a+b)

34

In [2]:
# 032 문자열 곱하기

print("Hi"*3)

HiHiHi

In [3]:
# 033 문자열 곱하기

print('-'*80)

--------------------------------------------------------------------------------

In [8]:
# 034 문자열 곱하기

t1 = 'python'
t2 = 'java'

print((t1+' '+t2+' ')*4)

python java python java python java python java

In [9]:
# 035 문자열 출력
# %formatting을 사용

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [12]:
# 036 문자열 출력
# format() 메소드 사용

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [15]:
# 037 문자열 출력

name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [14]:
# 038 컴마 제거하기

상장주식수 = "5,969,782,550"
temp = 상장주식수.replace(",", "")
temp = int(temp)

print(temp, type(temp))

5969782550 <class 'int'>

In [17]:
# 039 문자열 슬라이싱

분기 = "2020/03(E) (IFRS연결)"

print(분기[0:7])

2020/03

In [18]:
# 40 strip 메소드

data = "  삼성전자  "
data1 = data.strip()

print(data1)

삼성전자