In [1]:
# 001 print 기초

print("Hello World")

Hello World

In [2]:
# 002 print 기초

print("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 003 print 기초

print("신씨가 소리질렀다.", '"도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
# 004 print 기초

print('"C\Windows"')

"C\Windows"

In [7]:
# 005 print 탭과 줄바꿈

print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [9]:
# 006 print 여러 데이터 출력

print("오늘은", "월요일")

오늘은 월요일

In [15]:
# 007 print 기초

print("naver;kakap;sk;samsung")

naver;kakap;sk;samsung

In [16]:
# 008 print 기초

print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [14]:
# 0089 줄바꿈

print("first", end="");print("second")

firstsecond

In [17]:
# 010 연산 결과 출력

print(5/3)

1.6666666666666667

In [23]:
# 011 변수 사용하기

samsung_electro = 50000
person = samsung_electro * 10

print("평가금액은", person,"원")

평가금액은 500000 원

In [24]:
# 012 변수 사용하기

total = 298000000000000
now = 50000
per = 15.79

print(total, type(total))
print(now, type(now))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [25]:
# 013 문자열 출력

s = 'hello'
t = 'python'
print(s+'!', t)

hello! python

In [26]:
# 014 파이썬을 이용한 값 계산

print(2+2*3)

8

In [28]:
# 015 type 함수

a = '132'
print(type(a))

<class 'str'>

In [30]:
# 016 문자열을 정수로 변환

num_str = '720'
num_int = int(num_str)
print(type(num_int))
print(num_int)

<class 'int'>
720

In [31]:
# 017 정수를 문자열 100으로 변환

num = 100
num_str = str(num)
print(type(num_str))
print(num_str)

<class 'str'>
100

In [33]:
# 018 문자열을 실수로 변환

num_str = "15.79"
num_fl = float(num_str)
print(type(num_fl))
print(num_fl)

<class 'float'>
15.79

In [34]:
# 019 문자열을 정수로 변환

year = "2020"
year_int = int(year)
print(type(year_int))
print(year_int)

<class 'int'>
2020

In [35]:
# 020 파이썬 계산

monthly = 48584
all_cost = 36
total = monthly * all_cost
print(total)

1749024