In [1]:
# 061
# price 변수에는 날짜와 종가 정보가 저장되어 있다
# 날짜 정보를 제외하고 가격 정보만을 출력하라
# 힌트 : 슬라이싱

price = ['20180728', 100, 130, 140, 150, 160, 170]
price_nodate = price[1:]
print(price_nodate)

[100, 130, 140, 150, 160, 170]

In [2]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums_odd = nums[0 : : 2]
print(nums_odd)

[1, 3, 5, 7, 9]

In [3]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums_even = nums[1 : : 2]
print(nums_even)

[2, 4, 6, 8, 10]

In [4]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역방향으로 출력하라

nums = [1, 2, 3, 4, 5]
nums_reverse = nums[::-1]
print(nums_reverse)

[5, 4, 3, 2, 1]

In [5]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라

interest = ['삼성전자', 'LG전자', 'Naver']

삼성전자 Naver

In [6]:
print(interest[0], interest[2])

삼성전자 Naver

In [7]:
# 066 join 메소드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [8]:
total = " ".join(interest)
print(total)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [9]:
# 067 join 메소드
# interest 리스트에는 아래의 데이터가 반영되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [10]:
total = '/'.join(interest)
print(total)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [11]:
# 068 join 메소드
# interest 리스트에는 아래의 데이터가 반영되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

삼성전자

LG전자

Naver

SK하이닉스

미래에셋대우

In [12]:
sep = "\n".join(interest)
print(sep)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [13]:
# 069 문자열 split 메소드
# 회사 이름이 슬래시('/')로 구분되어 하나의 문자열로 저장되어 있다
string = "삼성전자/LG전자/Naver"

# 이를 interest 이름의 리스트로 분리 저장하라

['삼성전자', 'LG전자', 'Naver']

In [14]:
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [15]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요

data = [2, 4, 3, 1, 5, 10, 9]
a = sorted(data)
print(a)

[1, 2, 3, 4, 5, 9, 10]